@mixin text-button{
    color: $theme-color-text;
    background-color: $theme-color-primary;
    border: outset 4px $theme-color-secondary;
    font-weight: bold;
    height: 55px;
    margin: auto;
    width: 105px;

    &:active{
        border: inset 5px $theme-color-secondary;
    }
}

@mixin full-screen-message{
    align-content: space-evenly;
    background-color: $theme-color-half-opacity;
    display: none;
    height: 100%;
    justify-content: space-around;
    position: absolute;
    text-align: center;
    width: 100%;

    .description{
        padding: 0 25px;
        position: relative;
        transform: translate();
    }
}

@mixin big-button{
    background-color: $theme-color-primary;
    border: outset 4px $theme-color-secondary;
    height: 60px;
    width: 60px;
    position: relative;

    &:active{
        border: inset 5px $theme-color-secondary;
    }
}

@mixin big-button-emojis{
    content: '';
    /* stylelint-disable */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* stylelint-enable */
    height: 46px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
}

@mixin small-button-emojis{
    content: '';
            /* stylelint-disable */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* stylelint-enable */
            height: 40px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
}