<section class="minesweeper">
    <div class="navigation">
        <h3 class="flag-counter">000</h3>
        <button title="menu" class="button button-menu"></button>
        <button title="reset" class="big-button button-reset"></button>
        <button title="flag mode" class="button button-flag"></button>
        <h3 class="timer">000</h3>
    </div>
    <div class="minefield"></div>
    <div class="menu">
        <div class="buttons-container">
            <div class="big-button-container">
                <button title="easy" class="big-button button-easy"></button>
                <p>easy</p>
            </div>
            <div class="big-button-container">
                <button title="normal" class="big-button button-normal"></button>
                <p>normal</p>
            </div>
            <div class="big-button-container">
                <button title="hard" class="big-button button-hard"></button>
                <p>hard</p>
            </div>
        </div>
        <div class="buttons-container">
            <div class="big-button-container">
                <button title="rules" class="big-button button-rules"></button>
                <p>rules</p>
            </div>
            <div class="big-button-container">
                <button title="leaderboard" class="big-button button-leaderboard"></button>
                <p>records</p>
            </div>
            <div class="big-button-container">
                <button title="settings" class="big-button button-settings"></button>
                <p>settings</p>
            </div>
        </div>
        <button class="button-close-menu">Close</button>
    </div>
    <div class="rules">
        <h2>How to play:</h2>
        <div class="rules-text">
            <p class="description">
                To win, you need to reveal every block that does not contain a bomb. Safe blocks are either empty or have
                numbers in them.
            </p>
            <div class="minefield-rules">
                <div class="mineblock-rules bomb"></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules"></div>
            </div>
            <p class="description">
                The number corresponds to the number of bombs surrounding that block.
                There is only one bomb in the example above.
            </p>
            <p class="description">
                Remember that the numbers are not unique to one bomb.
                A single bomb would be surrounded by at least a few numbers.
            </p>
            <div class="minefield-rules">
                <div class="mineblock-rules bomb"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
            </div>
            <p class="description">Use flags to mark bombs to avoid accidentally clicking on them.</p>
            <div class="minefield-rules">
                <div class="mineblock-rules bomb flagged"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
            </div>
            <p class="description">
                In the next example, the bomb is already flagged.
                The block next to it is empty because the 1s already have a bomb around them.
            </p>
            <div class="minefield-rules">
                <div class="mineblock-rules uncertain"></div>
                <div class="mineblock-rules bomb flagged"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
                <div class="mineblock-rules revealed"></div>
            </div>
            <p class="description">
                Clicking on an already revealed block will highlight its adjacent closed blocks.
                You should use it if you are a beginner and are unsure which blocks are next to the one you are interested in.
            </p>
            <div class="minefield-rules">
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules bomb" ></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
            </div>
            <div class="minefield-rules">
                <div class="mineblock-rules highlighted"></div>
                <div class="mineblock-rules bomb highlighted" ></div>
                <div class="mineblock-rules"></div>
                <div class="mineblock-rules revealed" style="background-color: #478498;"><p>1</p></div>
                <div class="mineblock-rules highlighted"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
            </div>
            <p class="description">
                In the above example, the colored block is clicked, and the highlighted ones are its adjecents.
            </p>
            <p class="description">
                Finally, if you click on a revealed block that has neighboring flags equal to its number,
                the rest of the blocks will be revealed, !even if there are bombs among them!.
            </p>
            <div class="minefield-rules">
                <div class="mineblock-rules"><p>1</p></div>
                <div class="mineblock-rules" ><p>1</p></div>
                <div class="mineblock-rules bomb"></div>
                <div class="mineblock-rules revealed" style="background-color: #478498;"><p>1</p></div>
                <div class="mineblock-rules bomb flagged"></div>
                <div class="mineblock-rules revealed"><p>2</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
            </div>
            <div class="minefield-rules">
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed" ><p>2</p></div>
                <div class="mineblock-rules bomb"></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules bomb flagged"></div>
                <div class="mineblock-rules revealed"><p>2</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
                <div class="mineblock-rules revealed"><p>1</p></div>
            </div>
        </div>
        <button title="close" class="button-close-rules">Let's play</button>
    </div>
    <div class="leaderboard">
        <h2>Leaderboard</h2>
        <div class="leaderboard-container">
            
        </div>
        <button title="close" class="button-close-leaderboard">Close</button>
    </div>
    <div class="settings">
        <h2>Settings</h2>
        <div>
            <input class="settings-checkbox" type="checkbox" name="light-theme" autocomplete="off" />
            <label for="light-theme"><p>Light theme</p></label>
        </div>
        <button title="close" class="button-close-settings">Close</button>
    </div>
    <div class="victory-screen">
        <h2>You live!</h2>
        <p class="description victory-time"></p>
        <button title="close" class="button-close-victory-screen">Play again</button>
    </div>
    <div class="loss-screen">
    </div>
</section>
