// theme colors
$theme-color-background: #393939;
$theme-color-primary: #3f3f3f;
$theme-color-secondary: #4b4b4b;
$theme-color-dark: #373737;

// typography
$theme-font-base: 22px;

// properties
$border-property-none: none;