// theme colors
// main theme
$theme-color-background: #525252;
$theme-color-primary: #4c4c4c;
$theme-color-secondary: #5e5e5e;
$theme-color-dark: #373737;
$theme-color-half-opacity: rgba(100, 100, 100, 0.9);
$theme-color-text: #252525;

// pink theme
$pink-theme-color-background: #f3c;
$pink-theme-color-primary: #d1e;
$pink-theme-color-secondary: #f3f;
$pink-theme-color-dark: #d1d;
$pink-theme-color-extradark: #806;
$pink-theme-color-half-opacity: rgba(204, 51, 153, 0.9);
$pink-theme-color-text: #505;
$pink-theme-color-flower-background: rgba(40, 0, 85, 0.593);

// thunder storm effect
$lightning-flash: #b2e6fe;
$rain: radial-gradient(2px 8px,#9dbecf 100%,transparent 100%) -12px 3px,
radial-gradient(2px 8px,#72a9c9 100%,transparent 100%) 17px 0,
radial-gradient(2px 8px,#7ca3c0 100%,transparent 100%) 6px  12px,
radial-gradient(2px 8px,#608db7 100%,transparent 100%) 24px 23px,
radial-gradient(2px 8px,#608db7 100%,transparent 100%) 39px 30px,
radial-gradient(2px 8px,#9aacd3 100%,transparent 100%) 5px  43px;

// atomic bomb effect
$atomic-bomb-flash: #ffeaea;
$atomic-bomb-distortion: repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;

// typography
$theme-font-small: 20px;
$theme-font-base: 25px;
$theme-font-header: 45px;

// properties
$border-property-none: none;

// fonts
$font-family-pacifico: pacifico;
@font-face {
    font-family: $font-family-pacifico;
    src: url('../assets/fonts/Pacifico-Regular.ttf');
}
$font-family-vt323: vt323;
@font-face {
    font-family: $font-family-vt323;
    src: url('../assets/fonts/VT323-Regular.ttf');
}

//other
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 666px,
        lg: 1024px,
        xl: 1200px,
        xxl: 1920px
);